/* 
    Created on : Aug 17, 2017, 4:37:07 PM
    Author     : jfreeman82 <jfreeman@skedaddling.com>
*/

body {
    background: url('../img/twbg.jpg') no-repeat center top fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#masthead {
  background-color: white;
  padding: 20px 0;
  font-size: 9pt;
  font-family: arial;
  font-weight: bold;
  
  a {
    color: #111;
    margin-right: 20px;
    
  }
  
}

#first-col {
  color: white;
  padding: 80px 10px 0 120px;
  h2 {
    font-size: 20pt;  
  }
  p {
    font-size: 17pt;
    font-weight: bold;
    margin-top: 30px;
  }
}
#second-col { 
  padding: 50px 160px 0 110px;
  
  input {
    background-color: white;
    border: thin solid #ccc;
    color: black;
  }
  
  #signin {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
  }

  #register {    
    background-color: white;
    padding: 10px;
    
    h3 {
      font-size: 15pt;
    }
  }
}
