        
      </div><!-- /#main -->
    </div> <!-- container -->

    <div class="container">
      <footer class="blog-footer col-lg-12 text-center">
        <p>{{ site_title }} &copy; 2017</p>
      </footer>
    </div>
      
  </body>
</html>
