<div class="container">
  <nav>
    <div class="left">
      <ul>
        <li><a href="{{ www }}home/">Home</a></li>
      </ul>
    </div>
    <ul>
      <li><a href="{{ www }}business/add/"><span class="glyphicon glyphicon-plus"></span> Add Business</a></li>
    </ul>
      
    
  </nav>
</div>
