{{ include('_header.twig') }}


    
 <div id="masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="http://localhost/blog/public/">Home</a>
            <a class="blog-nav-item" href="http://localhost/blog/public/articles/">About</a>
        </nav>
    </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-6" id="first-col">
      <h2>Welcome to Fritter.</h2>
      <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
    </div>
    <div class="col-lg-6" id="second-col">
      <div id="signin">
        <form> 
          <input type="text" name="si_username" placeholder="phone, email or username" />
          <input type="password" name="si_password" placeholder="Password" />
          <input type="hidden" name="si_form" value="go" />
          <input type="submit" value="Log in" class="btn btn-secondary" />
          <input type="checkbox" name="remember" id="remember" value="1" /><label for="remember">Remember me</label>
          <a href="#">forgot password?</a>
        </form>
      </div>
      
      <div id="register">
        <form>
          <h3>New to Fritter? <span class="grey">Sign up</span></h3>
          <input type="text" name="reg_fullname" placeholder="Full name" />
          <input type="email" name="reg_email" placeholder="Email" />
          <input type="password" name="reg_password" placeholder="Password" />
          <input type="hidden" name="reg_form" value="go" />
          <input type="submit" value="Sign up for Fritter" />
        </form>
      </div> 
        
    </div>
  </div>
</div>


{{ include('_footer.twig') }}